* {
    box-sizing: border-box;
    font-family: Raleway, "sans-serif";
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 100%;
    text-align: center;
    background-color: #000;
}

/* Header */
header {
    background-color: #000;
}

h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

/* Main */
.contenido {
    width: 100%;
    color: #FFFFFF;
    font-size: 16px;
    text-align: left;
    font-weight: lighter;
    display: inline-block;
    padding: 45px 150px 66px 150px;
}

.contenido .texto {
    width: 49%;
    display: inline-block;
}

.contenido .texto p {
    padding: 16px;
    display: inline-block;
}

.contenido .foto-iguana {
    width: 49%;
    float: right;
}

.contenido .foto-iguana img {
    width: 399px;
    height: 237px;
    float: right;
}

/* Sección características*/
.caracteristicas-contenedor {
    width: 100%;
    height: 348px;
    color: #FFFFFF;
    background-color: #1E1A13;
    padding: 75px;
}

.caracteristicas p {
    font-size: 25px;
    font-weight: lighter;
    padding: 16.36px;
}

.caracteristicas h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.card {
    display: inline-block;
    padding: 48px;
}

/* Sección fotos */
.fotos {
    padding: 73px 0rem;
}

.fotos img {
    width: 316px;
    height: 202px;
    margin: 8px;
}

/* Footer */
footer {
    font-size: 20px;
    font-weight: lighter;
    background-color: #1E1A13;
    color: #FFFFFF;
    padding: 39px;

}

footer a{
    text-decoration: none;
    color: white;
    }

footer a:hover{
    background-color: #1E1A13;
    color: gold;	
    }

footer .RRSS{
    font-size:15px;
    margin-top:20px;
    margin-bottom:10px;
    font-weight:300;
}

